


<!DOCTYPE html>
<html>
  <head>
    <title>ComicLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>

      <h4><%= current_user.name %></h4>
      <%= button_to "Logout", logout_path, method: :delete %>
      <%= button_to "Home", users_path, method: :get %>
    <% else %>
      <h4>ComicLogger</h4>
      <%= button_to "Log In", new_session_path, method: :get %>
      <%= button_to "Sign Up", new_user_path, method: :get %>
      <%= button_to "Home", users_path, method: :get %>
    <% end %>

    <%= yield %>
  </body>
</html>
