<h1> Every Available Comic In The World </h1>
<br>
<% if logged_in? %>
  <% if @user == current_user %> <br>
    <%= link_to "Add Some Comics To Your Collection!", add_comics_path(current_user) %> <br>
    <%= link_to "Create a NEW Comic!", new_comic_path %>
  <% end %><br>
<% end %>

<h3> <%= flash[:notice] %> </h3>
  <% @comics.each do |comic| %>
    <h2><%= link_to comic.title, comic_path(comic) %></h2>
      <% comic.issues.each do |issue| %>
      <%= issue.comic.title  %> <%= issue.issue_number %> <br>
      <% end %>
    <% end %>
    <br>
