<h1>Welcome <%= @user.name %>, Add To Your Collection! </h1>
<% @comics.each do |comic| %>
  <h2><%= comic.title %></h2>
    <% comic.issues.each do |issue| %>
      <%= issue.comic.title  %> <%= issue.issue_number %> |
      <% if @user.issues.include?(issue) %>
    <font color="green">Owned</font>
      <% else %>
        <font color="red">Unowned</font>
      <% end %>
      <br>
    <% end %>

<% end %>


<%= render partial: "comic_form" %>
