<h1><%= @user.name %></h1>
<%= flash[:notice] %>
<% @user.comics_owned.each do |comic| %>
  <h2><%= link_to comic.title, comic_path(comic) %></h2>
  <% @user.title_issues(comic.title).each do |issue| %>
    <%= issue.comic.title  %> <%= issue.issue_number %> <br>
  <% end %>
<% end %>
<br>
<br>
<% if @user == current_user %>
<%= link_to "Edit Your Catalogue", edit_user_path(current_user) %>

<% end %>
